body{
    background-color: rgb(157, 232, 245);
}
table
{
 padding-top: 2cm;
 box-sizing: content-box;
 margin: 10%;
 color: rgb(17, 13, 6);

}
form {
    background-color: #abbee7;
    border: 2px solid #f1f1f1;   
    opacity: 0.8;
    border-radius: 25px;
    border: cornsilk;
    border-color: darkblue;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto; 
    width:500px;
    height: 300px;
  }
  #gradient
  {
    width: 100%;
    height: 800px;
    padding: 0px;
    margin: 0px;
  }
  .blob {
     position: absolute;
     top: 0;
     left: 0;
     fill: #4910e4;
     width: 24vmax;
     z-index: -1;
     animation: move 10s ease-in-out infinite;
     transform-origin: 50% 50%;
   }
   @keyframes move {
     0%   { transform: scale(1)   translate(10px, -30px); }
     38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
     40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
     78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
     80%  { transform: scale(1.3) translate(0vw, 54vh) rotate(-83deg); }
     100% { transform: scale(1)   translate(10px, -30px); }
   }